.login-form {
	input, button {
		margin: .3em 0 1em 0;
	}
	input {
		width: 100%;
		padding: .6rem;
		border: none;
		border-bottom: 1px solid $gray-color;
		appearance: none;
		font-size: 1.4em;
	}
	input:focus {
		outline: none;
		border: none;
	}
	label {
		font-weight: normal;
		font-size: 1.4em;
	}
}

.form-button-group {
	display: flex;
	justify-content: center;
	button {
		margin: 0 1em;
		width: 100%;
	}
}
