*::selection {
  background-color: $highlight-color;
}

main {
  margin-bottom: 50px;
}

h1 {
  color: $main-color;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}


