.post-list {
  margin-top: 2em;
}

.post {
  width: 300px;
  padding: 1em;
  * {
    margin: .3em;
  }
}

h1 {
  font-size: 1.5rem !important;
}

h2 {
  font-size: .9rem !important;
}

h3 {
  font-size: .8rem !important;
}

img {
  width: 240px;
}