article {
	padding: 2em 1em;
	display: flex !important;
	flex-direction: column;
	justify-content: space-around;
	img {
		width: 100%;
		max-width: 700px;
		margin-bottom: 1em;
		border-radius: 5px;
		box-shadow: 3px 6px 16px #aaa;
	}
}
