.post-list {
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
}

.post-box {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .2s;
  * {
    margin: .3em;
  }
	p {
		max-height: 80px;
		text-align: justify;
	}
  &:hover {
		background-color: $fade-color;
	}
}

.post-box img {
  width: 240px;
}
