.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid $fade-color;
  margin: 1em 2em;
  padding: 1.2em;
  border-radius: 5px;
  & > * {
    width: 100%;
  }
  .post-title {
    font-size: 1.7em;
    text-align: center;
    cursor: pointer;
    transition: color .1s;
    &:hover {
      text-decoration: underline;
      color: $black-color;
    }
  }
  .post-img {
    width: 270px;
    height: 180px;
    background-color: black;
    box-shadow: 3px 6px 16px #aaa;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow .2s;
    &:hover {
      box-shadow: 6px 8px 16px #888;
    }
  }
  .post-info {
    display: flex;
    justify-content: flex-start; 
    text-align: left;
    font-size: .9em;
    line-height: .9em;
    * {
      margin: .2em;
    }
    .post-info-left {
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .post-info-right {
      margin-top: 4px;
      width: 100%;
    }
    .social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .like-count {
        color: royalblue;
      }
      .comments-count {
        margin-left: 20px;
      }
    }
    .date {
      color: $gray-color;
    }
    .comments-count {
      line-height: 22px;
      vertical-align: middle;
    }
    .like {
      height: 22px;
      width: 22px;
      cursor: pointer;
      transition: transform .2s;
      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
  p {
    text-align: justify;
    color: $gray-color;
  }
}
