<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="center-text">Login</h1>
    <form class="login-form" action="">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username or email" />
      <label for="password">Enter your password</label>
      <input type="password" id="password" name="password" placeholder="password" />
      <div class="form-button-group">
        <button class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-default go-back-button">Cancel</button>
      </div>
    </form>
  </div>
</div>
