<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 class="center-text">Login</h1>
		<form class="login-form">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" placeholder="username" />
				<label for="password">Enter your password</label>
				<input type="password" id="password" name="password" />
				<div class="form-button-group">
					<button class="btn btn-primary">Login</button>
					<button type="button" class="btn btn-default go-back-button">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
