<section class="post-list">
  <article class="post-box">
    <img class="post-img" src="./img/pwa.jpg" alt="">
    <h1 class="post-title">Why build a Progressive Web App?</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/pablo-varela.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela <span class="date">49s ago</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="pwa" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    In the most simple sense, PWAs are mobile apps delivered through the web. This technology allows PWAs to deliver an app-like experience on your browser. It feels like a native app due to the use of an app-shell that provides app-style navigations and gestures. Since progressive apps are built on the web, they are not tied to specific devices. 
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/composition.jpg" alt="">
    <h1 class="post-title">Master the JavaScript Interview: What is Function Composition?</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/eric-elliott.jpg" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Eric Elliott <span class="date">Sep 6, 2016 14:32</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="composition" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Functional programming is taking over the JavaScript world. Just a few years ago, few JavaScript programmers even knew what functional programming is, but every large application codebase I’ve seen in the past 3 years makes heavy use of functional programming ideas.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/reduce.jpg" alt="">
    <h1 class="post-title">Reduce</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/eric-elliott.jpg" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Eric Elliott <span class="date">22m ago</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="reduce" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Reduce (aka: fold, accumulate) utility commonly used in functional programming that lets you iterate over a list, applying a function to an accumulated value and the next item in the list, until the iteration is complete and the accumulated value gets returned. Many useful things can be implemented with reduce. Frequently, it’s the most elegant way to do any non-trivial processing on a collection of items.
    </p>
  </article>
  <article class="post-box">
    <video class="post-img" id="video" width="270" height="169" loop autoplay muted>
      <source src="./img/tmux.mp4" type="video/mp4">¬
      No soportado¬
    </video>
    <h1 class="post-title">A Quick and Easy Guide to tmux</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/profile.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Ham Vocke <span class="date">Aug 16, 2016 12:03</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="tmux" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    I love working with the command line. Seriously, I think there’s hardly any more productive and more versatile tool for a software developer than the terminal. Maybe it’s the hacker/wizard/neckbeard kind of feeling I get when using a terminal, I don’t know.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/vim.jpg" alt="">
    <h1 class="post-title">Increase Your Productivity in Vim and Terminal</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/profile.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Dmytrii Nagirniak <span class="date">Monday</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="vim" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Today I want to focus on just a few things that should dramatically improve the productivity. The power of vim is huge. Very small number of people actually do know how to use most of it. I’m certainly not one of them.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/remote.jpg" alt="">
    <h1 class="post-title">How Remote Work Is Changing And What It Means For Your Future</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/pablo-varela.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela <span class="date">Sunday</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="remote" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Technology has enabled work environments that are much more flexible and customizable. And workers of today are demanding more flexibility. It’s a true win-win. Companies get the best talent and save on facilities costs.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/es6.jpg" alt="">
    <h1 class="post-title">JavaScript Factory Functions with ES6+</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/eric-elliott.jpg" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Eric Elliott <span class="date">Jul 20, 2017 18:50</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="es6" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Factory functions have always been attractive in JavaScript because they offer the ability to easily produce object instances without diving into the complexities of classes and the new keyword. JavaScript provides a very handy object literal syntax
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/tdd.jpg" alt="">
    <h1 class="post-title">TDD the RITE Way</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/eric-elliott.jpg" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Eric Elliott <span class="date">12s ago</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="tdd" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    When you dig into TDD you’re going to find a bunch of options for test frameworks. Which one you pick matters less than how simple your test suite is. Some of the fancier ones tend to encourage users to produce overly-complicated tests, but if you follow the advice in this article, almost any framework will suffice.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/blog.jpg" alt="">
    <h1 class="post-title">Building a Blog With Next.js and styled-components</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/profile.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Zach Sherman <span class="date">Wednesday</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="blog" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    Next.js is an awesome new framework for building universal React applications. In simple terms, that means you can use React to render templates on the server, as well front-end components the way you’re most likely used to.
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/game.jpg" alt="">
    <h1 class="post-title">A Game You Can Control With Your Mind</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="./img/pablo-varela.png" alt="Author" />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela <span class="date">1 day ago</span></div>
        <div class="social">
          <div class="like-count"></div>
          <img src="./img/like.png" alt="Like" class="like" data-post="game" />
          <a class="comments-count" href="/post.html#comments">3 comments</a>
        </div>
      </div>
    </div>
    <p>
    When you pull the headset over your eyes and the game begins, you are transported to a tiny room with white walls. Your task is to break out of the room, but you cannot use your hands. There is no joystick or game pad. You must use your thoughts.
    </p>
  </article>
</section>
