<section class="post-list">
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
  <article class="post-box">
    <img class="post-img" src="./img/article-img.jpg" alt="">
    <h1 class="post-title">This is a very long title</h1>
    <div class="post-info">
      <div class="post-info-left">
        <img src="https://www.gravatar.com/avatar/fa50aeff0ddd6e63273a068b04353d9d?s=100" alt="Author"  />
      </div>
      <div class="post-info-right">
        <div class="author">Pablo Varela, <span class="date">1 day ago</span></div>
        <img src="https://file-eniidgghrv.now.sh/facebook-like.svg" alt="Like" class="like" />
        <a class="comments-count" href="/post.html#comments">3 comments</a>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...
    </p>
  </article>
</section>
