<section class="post-list d-flex flex-wrap justify-content-center">
  <article class="post-box">
    <img src="./img/article-img.jpg" alt="">
    <h1>Amazing blog post</h1>
    <h3>Pablo Varela on August 10th 2017</h3>
  </article>
  <article class="post-box">
    <img src="./img/article-img.jpg" alt="">
    <h1>Amazing blog post</h1>
    <h3>Pablo Varela on August 10th 2017</h3>
  </article>
  <article class="post-box">
    <img src="./img/article-img.jpg" alt="">
    <h1>Amazing blog post</h1>
    <h3>Pablo Varela on August 10th 2017</h3>
  </article>
  <article class="post-box">
    <img src="./img/article-img.jpg" alt="">
    <h1>Amazing blog post</h1>
    <h3>Pablo Varela on August 10th 2017</h3>
  </article>
  <article class="post-box">
    <img src="./img/article-img.jpg" alt="">
    <h1>Amazing blog post</h1>
    <h3>Pablo Varela on August 10th 2017</h3>
  </article>
</section>
