<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="center-text">Register</h1>
		<form class="login-form" action="">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" placeholder="Choose a username" />
				<label for="email">Email</label>
				<input type="text" id="email" name="email" placeholder="me@example.com" />
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Choose a password" />
				<label for="password2">Password</label>
				<input type="password" id="password2" name="password2" placeholder="Repeat the password"/>
				<div class="form-button-group">
					<button class="btn btn-primary">Register</button>
					<button type="button" class="btn btn-default go-back-button">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
