$black-color: #1a1a1a;
$main-color: #4582ec;
$secondary-color: #37BC9B;
$highlight-color: #79FFE1;
$fade-color: whitesmoke;
$alert-color: orangered;
$gray-color: rgba(0, 0, 0, .44);

$footer-background: rgba(255, 255, 255, .9);

// responsive bootstrap
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}
